@model NewNewsViewModel
@{
    ViewData["Title"] = "New News";
}

<h1 class="mb-5 text-center text-uppercase">Add a New News</h1>

<form asp-controller="News" asp-action="AddNewStation" method="post">
    <div class="form-group mb-forms">
        <label asp-for="Title" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Title" placeholder="Title">
        <span asp-validation-for="Title" class="text-danger"></span>

    </div>
    <div class="form-group mb-forms">
        <label asp-for="Description" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Description" placeholder="Description">
        <span asp-validation-for="Description" class="text-danger"></span>

    </div>
    <div class="form-group mb-forms">
        <label asp-for="Publisher" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Publisher" placeholder="Publisher">
        <span asp-validation-for="Publisher" class="text-danger"></span>
    </div>
    <div class="form-group mb-forms">
        <label asp-for="Link" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Link" placeholder="Link">
        <span asp-validation-for="Link" class="text-danger"></span>
    </div>
    <a type="button" class="btn btn-danger mt-3" asp-controller="News" asp-action="Index">Cancel</a>
    <button type="submit" class="btn btn-success mt-3">Save</button>
</form>