@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 news-title">NewsHive</h1>
    <p class="text-center font-monospace mt-4 news-description">
        NewsHive - Your go-to source for up-to-date and diverse news coverage.
    </p>
    <img src="https://gumlet.assettype.com/quintype-website%2F2018-08%2F973e3cef-6730-4e80-af93-6851ec9d7ef0%2F6277209256_198cdbea86_o.jpg?rect=0%2C0%2C1279%2C789&format=auto"
         alt="NewsHive" class="img-resposive rounded-image fade-in">
</div>

